* {
  list-style: none;
}
html,
body {
  list-style: none;
  font-family: $fontstack;
  line-height: 1.5;
  margin: 0;
  // { // dark mode
  //   color: $secondarycolor;
  // background-color: lighten($color: black, $amount: 20);
  // }
}
a {
  text-decoration: none;
}
form {
  display: flex;
  flex-direction: column;
  margin: 2rem 0rem;
  input {
    margin: 0.5rem 0rem;
    padding: 1rem;
    &:focus {
      border: 4px solid lighten($color: $background, $amount: 60);
      outline: none;
    }
  }
}
.container {
  margin: 1rem auto;
  width: fit-content;
}
.star-review {
  margin: 1rem 0rem;
  .stars {
    color: rgb(248, 232, 37);
  }
}
.cards {
  display: grid;
  width: fit-content;

  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 2rem;

  .card {
    display: grid;
    grid-template-rows: 1fr;
    padding: 1rem;
    width: fit-content;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
    transition: 1s;
    &:hover {
      padding: 2rem;
      margin-bottom: 2rem;
      box-shadow: 0px 8px 16px rgb(20, 3, 255, 0.9);
    }
    img {
      border-radius: 2rem;
      width: 15rem;
      height: 15rem;
    }
  }
}
.list {
  margin: 1rem;
  padding: 2rem;
  a {
    text-align: center;
    text-decoration: underline;
    color: darken($color: $secondarycolor, $amount: 80);
  }
  .list-item {
    margin-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid lighten($color: $background, $amount: 60);
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 0rem;
    img {
      width: 7rem;
      height: 7rem;
    }
  }
}

.btn {
  padding: 1rem 2rem;
  margin: 0.5rem;
  border: 2px solid transparent;
  transition: background-color 1s;
  &:hover {
    color: $secondarycolor;
    background-color: black;
  }
}
.btn-gray {
  padding: 1rem 2rem;
  width: fit-content;
  border: 2px solid transparent;
  background-color: #626d78;
  color: white;
}
.border-bottom {
  padding-bottom: 1rem;
  border-bottom: 3px solid sandybrown;
}
.alert {
  color: #712b29;
  background-color: #f7dddc;
  border-color: #f4cfce;
  width: 100%;
  text-align: center;
  padding: 1rem 0rem;
}
.success {
  color: #712b29;
  background-color: #b7e4c7;
  border-color: #4bbf73;
  width: 100%;
  text-align: center;
  padding: 1rem 0rem;
}
.quntity {
  display: flex;
  flex-direction: column;
  padding: 0.4rem;
  label {
    margin: 0.5rem;
  }
  select {
    width: 80px;
    height: 40px;
  }
}
.checkout {
  padding: 2rem;
  height: fit-content;
  border: 1px solid lighten($color: $background, $amount: 20);
  h3 {
    border-bottom: 2px solid lighten($color: $background, $amount: 50);
  }
}
.payments {
  width: 25vw;
  h1 {
    margin-top: 2rem;
  }
  h2 {
    color: $background;
    font-weight: lighter;
  }
  label {
    font-size: 20px;
  }
  .links {
    padding-left: 0%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
  }
}
