$PrimaryColor: #916bbf;
$secondarycolor: #c996cc;
$AssetColor: #3d2c8d;
$fontstack: Arial, Helvetica, sans-serif;
$secondfontstack: 'Nunito Sans';
$retina: '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)';
$breakpoints: (
  phone: 640px,
  tablet: 768px,
  desktop: 1024px,
) !default;
